
body{
      padding: 0px;
      margin: 5px;
      background: gray;
  }
  .content_container {
      display: grid;
      grid-template-columns: repeat(auto-fit,minmax(180px,1fr));
      gap:15px;
     

  }
 
  
  .item p{
      display: inline;
  }

  .item {
    width :180px;

  }
  
  .duration {
      background-color: rgb(32, 21, 39);
      color: wheat;
  
  }
  .item img{
      width: 100%;
      height: 250px;
      margin: 0px;
      border-radius: 10px;

  }
  #navigation p {
      font-size: medium;
      font-family: 'Segoe UI';
      color: white;
      font-style: bold;
      text-shadow: 10px;
  }
  #navigation {
      background-color: rgb(25, 36, 43);
      height: 5vh;
      position: sticky;
  }



.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("background.jpg");
  background-size: cover;
  z-index: -1;
}
#popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 15px 30px;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  background-color: #ff4500;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}
.popup-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  width: 80%;
  max-height: 80%;
}
.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  color: #000;
  cursor: pointer;
}





#info_box img{
    max-width: 150px;
    height: 200px;
    border-radius: 10px;
    margin:auto;
    
    top :8px;
}
#info_box p{

  max-height: 30vh;
  overflow: scroll;
  scroll-behavior: auto;


}
